# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# Mac
.DS_Store

# Secrets
**/config.py

# Database
database.db

# Imported reports
imports/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/
imports/

# Database backups
*.db-journal
